<header class="main-header">
    <div class="header-title">
        <h1>
            Palworld server
        </h1>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/manage/save">Save world</a>
            </li>
            <li>
                <a href="#/manage/shutdown">Shutdown server</a>
            </li>
            <li>
                <a href="#sequrity-liability">Force Shutdown</a>
            </li>
            <li>
                <a href="#/manage/settings">Server settup</a>
            </li>
            <li>
                <a href="/manage/rcon/readLog">
                    read-server-Log
                </a>
            </li>
        </ul>
    </nav>
</header>