<header class="main-header">
    <div class="header-title">
        <h1>
            Palworld server
        </h1>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/save">Save world</a>
            </li>
            <li>
                <a href="/shutdown">Shutdown server</a>
            </li>
            <li>
                <a href="#you-must-be-dumb">Force Shutdown</a>
            </li>
            <li>
                <a href="/settings">Server settup</a>
            </li>
        </ul>
    </nav>
</header>